/*insert custom css below*/


body {
}

.heading {
  position:fixed;
}

.heading h1 {
}

.box {
  margin: auto;
  padding: 20px;
  position:relative;
  
}

.box:last-child {
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
  position: fixed;
}
