/*insert custom css below*/


body {
}

.heading {
  position:fixed;
  border:5px solid black;
}

.heading h1 {
}

.box {
  margin: 10px;
  padding: 20px;
  position:relative;
  width: 30%;
}

.box:last-child {
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
  position: fixed;
}
