/*insert custom css below*/


body {
  background-color: white;
  font-family: Georgia, serif;
  color:#111111;
  font-size: 16px;
  
}

.heading {

  
  top: 0;
  width:100%;
  left:0;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
 background-color: white;
  margin-bottom: 20px;


}


.heading h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin:   0;
  color:  #888D8C;
  font-size: 30px;
  border-bottom: 3px solid #111111;
  font-weight: bold;
  font-variant: small-caps;
  position: fixed;
  margin-left: 1%;
  margin-right: 2%;
  width:90%;
  top:0px;
  background-color: white;
  padding-top: 5px;

  z-index: +1;
}


.heading h2 {
  margin-top: 70px;  
  margin-left: 0px;
  margin-bottom: 10px;
  color:  #111111;
  font-size: 49px;
  line-height: 125%;
  text-align: center;


}

.heading h3
{
  line-height: 10%;
  font-weight: normal;
  font-variant: small-caps;
  text-align: center;
  color:  #111111;
  font-size: 20px;
  font-family: Georgia, serif;
  margin-bottom: 40px;
  margin-top:5px;

}

.home
{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color:  #111111;
  font-size: 18px;
  font-weight: bold;
  margin-left: 72%;
  margin-top: 35px;
  font-variant: normal;
  top:0;
  position:fixed;
}

.home:hover
{
  color:  #888D8C;
}

.article
{
  margin-top: 0;
  margin-bottom: 0;
  margin-left:10%;
  margin-right: 10%;
}

.grey {
  color:  #888D8C;

}

.quote
{
 font-style: italic;
 color:  #888D8C;
 font-size: 110%;
}

.quote2
{
 font-style: italic;
 color:  #888D8C;
}

.box {
 margin-top: 50px;
  margin-right: 2%;
  margin-left: 18%;
  margin-bottom: 70px;
  padding: 0;
  position:relative;
  font-family: Georgia, serif;
  font-size: 18px;
  float:center;
  width: 65%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8), 0 12px 40px 0 rgba(0, 0, 0, 0.76);
  font-weight: normal;
  border:0 solid white;
}

.box:last-child {
  margin-right:0;
}

.box h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.box img {
  width: 100%;
}

.box .read-more {
  font-size: 16px;
 font-weight: normal;
 font-style: italic;
 color: #888D8C;
 text-decoration: none;
  
}
.box .read-more:hover
{
  font-size: 16px;
 font-weight: normal;
 font-style: italic;
 color: white;
}

img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

img.grayscale:hover {
    

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}


.caption {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20%;
    padding-left: 10%;    
    padding-right: 10%;
    padding-bottom: 16%;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-weight: bold;
    line-height: 1.1em;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}
.box:hover .caption {
    opacity: 1;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}
a
{
  text-decoration: none;
}

span
{
  text-decoration: none;
}

.title
{
  color:white;
}
.title:hover
{
  text-decoration: underline;
}
.name
{
  font-weight: normal;
  color: #888D8C;
}

.footer {
  font-size: 12px;
  position: relative;
  bottom: 0;
  right:0;
  width: 100%;
  padding: 0;
  padding-left: 95%;
  color: #888D8C;
  background-color: white;
  border-top: 2px solid #111111;
  font-variant: small-caps;
  z-index: +1;

}
